In [1]:
import pandas as pd
import numpy as np

In [2]:
sars2 = pd.DataFrame(pd.read_csv('Results/_noexp/Result_SARS2_noexp.txt', sep='\t'))
sars2.head()

        miRNA  miRDB score                                  site type
0    miR-4288           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1   miR-16-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2  miR-195-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3   miR-21-3p           98  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4    miR-3133           98  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [3]:
sars = pd.DataFrame(pd.read_csv('Results/_noexp/Result_SARS_noexp.txt', sep='\t'))
sars.head()

        miRNA  miRDB score                                  site type
0  miR-195-5p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1   miR-16-5p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2  miR-497-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3  miR-424-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4    miR-4291           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [4]:
mers = pd.DataFrame(pd.read_csv('Results/_noexp/Result_MERS_noexp.txt', sep='\t'))
mers.head()

         miRNA  miRDB score                                  site type
0      miR-633           98  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1    miR-4477a           97  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2  miR-302c-5p           96  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3   miR-381-3p           96  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4  miR-551b-5p           96  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [5]:
oc43 = pd.DataFrame(pd.read_csv('Results/_noexp/Result_OC43_noexp.txt', sep='\t'))
oc43.head()

         miRNA  miRDB score                                  site type
0  miR-6512-5p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1  miR-3065-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2  miR-302c-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3     miR-4803           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4    miR-21-3p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [6]:
hku1 = pd.DataFrame(pd.read_csv('Results/_noexp/Result_HKU1_noexp.txt', sep='\t'))
hku1.head()

          miRNA  miRDB score                                  site type
0     miR-548aa          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1  miR-548ap-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2   miR-548t-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3   miR-548c-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4   miR-3065-5p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [7]:
e229 = pd.DataFrame(pd.read_csv('Results/_noexp/Result_229E_noexp.txt', sep='\t'))
e229.head()

         miRNA  miRDB score                                  site type
0    miR-21-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1  miR-3529-3p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2     miR-548p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3  miR-3065-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4  miR-302c-5p           99  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [8]:
nl63 = pd.DataFrame(pd.read_csv('Results/_noexp/Result_NL63_noexp.txt', sep='\t'))
nl63.head()

         miRNA  miRDB score                                  site type
0  miR-3529-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
1    miR-548aa          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
2  miR-548t-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
3  miR-548h-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']
4  miR-2115-3p          100  ['6mer', '7mer-1a', '7mer-m8', '8mer-1a']

In [9]:
list_name = [sars2, sars, mers, oc43, hku1, e229, nl63]
str_name = ['sars2', 'sars', 'mers', 'oc43', 'hku1', 'e229', 'nl63']

In [10]:
list_mirna = []
for i in list_name:
    cat = np.unique(i['miRNA'].tolist()).tolist()
    list_mirna += cat
list_mirna[0]

'let-7c-3p'

In [11]:
j = list_name[0]
ind = list_name.index(j)
i = 'miR-21-3p'
if i in j['miRNA'].tolist():
    print(True)
    
ind

True

0

list_mirna = []
for i in list_name:
    cat = np.unique(i['miRNA'].tolist()).tolist()
    list_mirna += cat

cat = np.unique(list_mirna)
dictionar = {}
for i in cat:
    print(i, end=': ')
    count = 0
    for j in range(len(list_name)):
        k = list_name[j]
        if i in k['miRNA'].tolist():
            print(str_name[j], end=',')
            count += 1
    if count in dictionar:
        dictionar[count] = list(dictionar[count]).append(i)
        print(dictionar[count])
    else:
        dictionar[count] = i
    print(2*'\n')

In [12]:
key = list(dictionar.keys())
dictionar.values()

NameError: name 'dictionar' is not defined

In [13]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None